#wheel {
	height: 300px;
	width: 300px;
	/* background-color: gray; */
	border-radius: 50%;
	border: 5px solid grey;

	/* repeating-conic-gradient(from 0deg, red 0deg 30deg, yellow 30deg 60deg, blue 60deg 90deg); */
}
