#wheel {
	height: 200px;
	width: 200px;
	background-color: red; /* For browsers that do not support gradients */
	background-image: conic-gradient(
		grey 0deg,
		grey 55deg,
		black 56deg,
		black 64deg,
		yellow 65deg,
		yellow 120deg,
		green 120deg,
		green 180deg,
		blue 180deg,
		blue 240deg,
		black 240deg,
		black 300deg,
		purple 300deg,
		purple 360deg
	);
	border-radius: 50%;
	border: 5px solid grey;
}
